doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='keywords', content='Osama, Sidat, SammSid, OsamaSidat, Osama Sidat')
    link(rel='stylesheet', href='style/fa/css/font-awesome.min.css')
    link(rel='stylesheet', href='style/style.css', type='text/css')
    link(rel='icon', type='image/png', href='images/osama.png')
    title=locals.title
    
  body
    section.main-profile
      header
        .top
        .me
          img(src="images/osama.png")
          h2 Osama Sidat
          h6 Problem Solver
      .social
          each account in page.metadata.social
            a(href="#{account.url}" title="#{account.title}" target="_blank")
              i(class="fa fa-2x #{account.iconClass}")
      .intro
        p
          | Aspiring Software Developer, with a passion for solving problems.
          br
          | 4th Year Computer Science @ UWaterloo.
          br
          | Hobbyist Photographer. Tech Enthusiast. Culinary Experimenter.
          
      .down
        i(class="fa fa-angle-down fa-3x")
        
    section.blogs
      .blog-header
        .me
          h3 Blogs
          h6 I write about tech, cooking and life experiences
      .blog-content
        .tiles
          each blog in page.metadata.blogs
            a(href="#{blog.url}" target="_blank")
              .tile
                .tile-title=blog.title
                .tile-description=blog.description
      .down
        i(class="fa fa-angle-down fa-3x")
          
    section.projects
      .project-header
        .me
          h3 Projects
          h6 Demos of my code work
      .project-content
        .tiles
          each project in page.metadata.projects
            .tile-unlinked
              a(href="#{project.url}" target="_blank" title="#{project.hoverTitle}")
                .tile-title=project.title
              .tile-description=project.description
              .tile-links
                each link in project.links
                  a(href="#{link.url}" title="#{link.title}" target="_blank")
                    i(class="fa fa-2x #{link.iconClass}")
